{% extends 'base.html' %}

{% block content %}
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row align-self-center">
        <div class="col-md-8 intro-info order-md-first order-last">
          <h2>BTS certified software <span>VAT e-file</span></h2>
          <div>
            <a href="#" class="btn-get-started">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">
  
  <section id="features">
      <div class="container">

        <div class="row feature-item">
         
          <div class="col-lg-12 wow fadeInUp pt-3 pt-lg-0">
            <h4>What is it and how does it work?</h4>
			<strong>Making Tax Digital for Business is the government’s policy to move all business-related tax reporting online.</strong>
            <p>
             From April 2019, most businesses will be required to make, preserve, and then submit existing VAT records electronically.
            </p>
            <p>
            To bridge the gap between any spreadsheet based VAT return and HMRC, BTS has developed an Excel based tool, to submit VAT returns.
            </p>
			<p>
            Our software is available to any organisation caught by the rules, and to agents who file VAT returns for their client base.
            </p>
          </div>
        </div>

       
      </div>
    </section><!-- #about -->  
   

   
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="https://s3vatmtd.s3-eu-west-1.amazonaws.com/img/hrm.png" alt="hrm">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>BTS VAT e-file spreadsheet will:</h2>
               
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              
              <ul>
                <li><i class="ion-android-checkmark-circle"></i>Enable you to submit your VAT returns</li>
                <li><i class="ion-android-checkmark-circle"></i> Authenticate and confirm receipt of your VAT returns with HMRC.</li>
                <li><i class="ion-android-checkmark-circle"></i>Provide you visibility of your various submissions, liabilities and payments.</li>
				<li><i class="ion-android-checkmark-circle"></i>Be maintained and supported by BTS, so you can be confident that you are compliant.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Why choose BTS VAT e-file return?</h3>
          
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Simple</a></h4>
              <p class="description">Our solution is all in Excel, so it’s simple and you won’t need any other software or portals.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Secure</a></h4>
              <p class="description">Our approach files direct from Excel, so will not involve uploading or exposing your sensitive VAT data to anyone but HMRC.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Cost effective</a></h4>
              <p class="description">We have a pricing model that suits everyone: business, agent or registered charity.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Compliant</a></h4>
              <p class="description">BTS solution was on HMRC's first list of recognised software, and the Excel e-file has been reviewed by Microsoft.</p>
            </div>
          </div>
 

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>How simple is it?</h3>
          
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="https://s3vatmtd.s3-eu-west-1.amazonaws.com/img/why-us.jpg" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
               
              <div class="features wow bounceInUp clearfix">
              <span>1</span>
			  
                <h4>Select a licence for your business</h4>
                <p>Commodi quia voluptatum. Est cupiditate voluptas quaerat officiis ex alias dignissimos et ipsum.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                 <span>2</span>
                <h4>Register buyer's details</h4>
                <p>Molestias eius rerum iusto voluptas et ab cupiditate aut enim.</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <span>3</span>
                <h4>Register your business’s data</h4>
                <p>Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur. Totam dolores ut enim ullam voluptas distinctio aut.</p>
              </div>
              
			   <div class="features wow bounceInUp clearfix">
                <span>4</span>
                <h4>Confirm payment</h4>
                <p>Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur. Totam dolores ut enim ullam voluptas distinctio aut.</p>
              </div>
			  
			   <div class="features wow bounceInUp clearfix">
              <span>5</span>
                <h4>Receive VAT e-file</h4>
                <p>Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur. Totam dolores ut enim ullam voluptas distinctio aut.</p>
              </div>
			  
            </div>

          </div>

        </div>

      </div>
    </section>

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Submit your VAT return request to HMRC</h3>
            <p class="cta-text"><strong>Please note -</strong> if you do not wish to pay by credit or debit card then please contact us using this form and we’ll be happy to process your registration and payment.</p>
          </div>
         
        </div>

      </div>
    </section><!-- #call-to-action -->
	
    <!--==========================
      Pricing Section
    ============================-->
    <section id="pricing" class="wow fadeInUp section-bg">

      <div class="container">

        <header class="section-header">
          <h3>Select a licence</h3>
        <p>If you'd like to register multiple companies including charities, please select the regular company licence and the discount available for charities will be applied.</p>
        </header>

        <div class="row flex-items-xs-middle flex-items-xs-center">
      
          
          <div class="col-xs-12 col-lg-4">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">£</span>90<span class="period">+&nbsp;20%&nbsp;VAT</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title"> 
                 <strong>1 Year</strong> <br> Early subscribers 1st year runs till June 2020! 
                </h4>
               <p> The prices provided are per VAT registration number. Discounts are available for anyone managing more than 10 VAT registration numbers – please contact us using this Other discounts may be available if agreed with your professional or industry body. </p> 
                <a href="#" class="btn">Select</a>
              </div>
            </div>
          </div>
      
            <div class="col-xs-12 col-lg-8">
			<div class="row">
         <div class="col-xs-12 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">£</span>150<span class="period">+&nbsp;20%&nbsp;VAT</span></h3>
              </div>
              <div class="card-block">
               <p>This subscription will run until June 2021. </p> 
                <a href="#" class="btn">Select</a>
              </div>
            </div>
          </div>
      <div class="col-xs-12 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">£</span>200<span class="period">+&nbsp;20%&nbsp;VAT</span></h3>
              </div>
              <div class="card-block">
                <p>This subscription will run until June 2022. </p> 
                <a href="#" class="btn">Select</a>
              </div>
            </div>
          </div>
	  </div>
	  
	  <div class="row top-space">
         <div class="col-xs-12 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h2>Free</h2>
              </div>
              <div class="card-block">
                  <h4 class="card-title"> 
                 <strong> Charity </strong>
                </h4>
                <p> This is a special offer available to the charitable sector. You will need to be a charity registered in the UK. </p> 
                <a href="#" class="btn">Select</a>
              </div>
            </div>
          </div>
		  
		   <div class="col-xs-12 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h2> Agents </h2>
              </div>
              <div class="card-block">
                  <h4 class="card-title"> 
                 <strong>  On request  </strong>
                </h4>
                <p> We have a different pricing model for those businesses filing multiple VAT returns on behalf </p> 
                <a href="#" class="btn">Select</a>
              </div>
            </div>
          </div>
 
      </div>
	  
	  
	  </div> 
	  
	  </div>
	  
        </div>
       

    </section><!-- #pricing -->
	
  <!-- privacy policy section -->
  <section id="privacy_policy">
      <div class="container">
        <header class="section-header">
            <h3>Privacy Policy</h3>
        </header>
        <div class="row feature-item">
          <div class="col-lg-12 wow fadeInUp pt-3 pt-lg-0">
            <p>This notice applies across all websites that we own and operate and all services we provide, including our online and mobile accounting and financial services products, and any other apps or services we may offer (for example, events or training). For the purpose of this notice, we’ll just call them our ‘services’. If you are a WorkflowMax user, this notice applies to you too!</p>

            <p>When we say ‘personal data’ we mean identifiable information about you, like your name, email, address, telephone number, bank account details, payment information, support queries, community comments and so on. If you can’t be identified (for example, when personal data has been aggregated and anonymised) then this notice doesn’t apply. Check out our terms of use for more information on how we treat your other data.</p>

            <p>We may need to update this notice from time to time. Where a change is significant, we’ll make sure we let you know – usually by sending you an email.</p>

            <p>You can read the whole notice below, or if you haven’t got much time, you can jump to the section you need using the navigation menu.</p>

            <p>Last updated: 25 June 2019</p>
          </div>
        </div>
      </div>
  </section>


<!-- Terms of use Section -->
  <section id="terms_of_use" class="section-bg">
      <div class="container">
        <header class="section-header">
            <h3>Terms of use</h3>
        </header>
        <div class="row feature-item">
          <div class="col-lg-12 wow fadeInUp pt-3 pt-lg-0">
            <p>
            Terms of Service:
            Version 3.9: These terms were last updated on 5th December 2018. They may be updated in the future and we'll post the new version here on our website.
            What some words mean
            So that we can be completely clear, here are some words we use which have specific meanings:<p>

            <p>"Account Holder" means a sole trader, partnership or company which has a FreeAgent account (generally this will be your business, or if you are an accountant, the business which you are advising);</p>
            <p>"FreeAgent account" means a current subscription to The Service;</p>
            <p>"The Service" means our FreeAgent software which is accessed and used via our password protected websites</p>
          </div>
        </div>
      </div>
  </section>

 <!--==========================
    Signup-now Section
    ============================-->
    <section id="signup-now" class="wow fadeInUp section-bg">	

	<div class="container">
	 
	<header class="section-header">
          <h3>Sign up now</h3>
        </header>
		
	<div class="row">
	<div class="col-12">
	<div class="what-we-do">
	<ol class="what-we-do-steps">
	<li>
	<div class="what-we-do-section"><span class="what-we-do-number">1</span></div>
	
	<span class="h6">Process your request</span></li>
	
	<li>
	<div class="what-we-do-section"><span class="what-we-do-number">2</span></div>
	<span class="h6">Add you to our approved VAT e-file user list</span></li>
	
	<li>
	<div class="what-we-do-section"><span class="what-we-do-number">3</span></div>
	<span class="h6">Email the VAT e-file software to you</span></li>
	
	</ol>
	</div>
	</div>
	</div>
	</div> 
	
	</section><!-- #signup-now -->
	
	 <section id="faq">
      <div class="container">

        <div class="row feature-item">
           
          <div class="col-lg-6 wow fadeInUp pt-2 pt-lg-0">
            <h4>What else can BTS do to help?</h4>
            <p>
             We offer both consulting and technology services in relation to Making Tax Digital. 
Our consulting services are comprehensive, including managed and outsourced services, available on request. 
            </p>
            <p>
             Our technology services range from Excel enabled e-filing mentioned above, to the most sophisticated end-to-end compliance applications on the market today.
            </p>
			
			 <span><a target="_blank" href="#"><button class="btn btn-outline-secondary width100">Find Out More</button></a></span>
          </div>
		  
		  
		   <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Want to check it out?</h4>
            <p>
           Our VAT e-file spreadsheet can be accessed via this button. The solution will not be active, so you'll not be able to submit any VAT returns until you have signed up, but it will give you a chance to take a look at the solution.
            </p>
            <p>
             Please note this download link on this page is for users operating Windows and Excel 2007 and higher only.
            </p>
			
			 <span><a target="_blank" href="#"><button class="btn btn-outline-secondary width100">Download VAT e-file </button></a></span>
            
          </div>
        </div>

      </div>
    </section><!-- #about -->
	
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-12">

            <div class="row">

                <div class="col-sm-12">

                  <div class="footer-info">
                    <h3>BusinessTransforms</h3>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                  </div>

                </div>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        © 2018 - Thu Nov 30 08:57:00 EST 2017 BTS. All rights reserved. BTS refers to the BTS network and/or one or more of its member firms, each of which is a separate legal entity.
      </div>
      
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock %}