{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="intro" class="clearfix">
<div class="container listing_subnav_listing_style">
    <div class="row" style="float:right;">
        {% include 'includes/subnav.html' %}
    </div>

    <div class="row" style="width:100%;">
        {{ result }}
        <table id="table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>VAT Return Details</th>
                <th>Values</th>
            </tr>
        </thead>
        <tr>
            <td>API Status Code</td>
            <td>{% if api_status.status_code  %} {{ api_status.status_code }} {% else %} None {% endif %}</td>
        </tr>
        <tr>
            <td>API Status</td>
            <td>{% if api_status.reason  %} {{ api_status.reason }} {% else %} None {% endif %}</td>
        </tr>
        <tr>
            <td>VRN</td>
            <td>{% if vrn  %} {{ vrn }} {% else %} None {% endif %}</td>
        </tr>
    </div>

</div>
</section>
{% endblock %}


