
{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section id="intro" class="clearfix">
        <div class="container listing_style">
            <div class="row" > <!--  style="float:right;">  -->
                {% include 'includes/subnav_agent.html' %}
            </div>
            <div class="row">
                <div class="col-12">
                    <table id="table" class="table table-striped table-bordered">
                        <thead>
                         
                        
                        <tr>
                            <th> 1 {{location}}</th>
                            <th>2 Agent's List of Clients to invite to authenticate</th>
                            <th>3 Status2 ( uniterated #2)</th>
                            <th>4 Reponse Status and Reason</th>
                            <th>5 Request Header</th>
                            <th>6 Routine</th>
                            <th>7 (debug) Json output: errors / ok</th>


                        </tr>
                        </thead>
                        <TD> 1 {{endpoint}}</TD>

                    <td>{%  ifequal  location "Yes" %}  <!-- yes = only use this for a_class30()-->
                             Click on Link below to get "Invitation Link to send to Client to delegate to Agent"
                              {% for k,v in title.items %}
                                <a href="/mtd/a_get_invite/?client_link={{ v}}"> {{v}}</a>
                              {% endfor %}   
                        {%endifequal%} 

                        {%  ifequal  location "a_get_invite" %}  <!-- yes = only use this for a_class30()-->
                         <td>     
                        Agent,Please email client link to authorise you
                        <p><a href="{{ links}}">{{links}} </a>
                        which was created on  {{created}}
                        and expiresOn {{expiresOn}}
                        <p>for service  {{service}}
                        with status {{status}}
                        {%endifequal%}
                        
                        {%  ifequal  location "a_get_invite_accepted" %}  <!-- yes = only use this for a_class30()-->
                         <td>     
                        Agent, client authorised you
                        <p>
                        which was created on  {{created}}
                        and updated on {{updated}}
                        <p>for service  {{service}}
                        with status {{status}}
                        {%endifequal%}
                        

                        {%  ifequal  location "a_get_relationship" %}  <!-- yes = only use this for a_class30()-->
                         <td>     
                        Agent - client Relationship
                        <p>
                        Status of relationship:   {{headers1}}
                        and updated on {{updated}}
                        <p>for service  {{service}}
                        with status {{status}}
                        {%endifequal%}    
                         </td>
                        
                        <TD> 3 {{title}}</TD>

						<TD> 4 {{pd2}} </TD>
						<TD> 5{{headers1}} </TD>
						<TD> 6 {{vat}}  </TD>
						<TD> 7{{errors}}</TD>

                    </table>
                </div>
            </div>



<a href="https://test-api.service.hmrc.gov.uk/oauth/authorize?client_id={{clientid}}&scope=read:vat write:vat &response_type=code&state={{vat.vrn}}&redirect_uri={{ mtd_url }}">Authenticate Agent to HMRC  </a>
<p><br>

<a href="https://test-api.service.hmrc.gov.uk/oauth/authorize?client_id={{clientid}}&scope=read:vat write:vat read:sent-invitations write:sent-invitations write:self-assessment read:self-assessment read:check-relationship&response_type=code&state={{headers1}}&redirect_uri={{ mtd_url }}">Authenticate Agent to HMRC ( rw invite scope) </a>
        </div>
    </section>


{% endblock %}

{% block custom_javascripts %}
 
        <script src="{% static 'js/home.js' %}"></script>
  
{% endblock %}
